#Body{
    margin: 0px;
}
.Container{
    display: flex;
}
.Main{
    height: 700px;
}
.Justify-Center{
    justify-content: center;
}
.Columns{
    width: 100%;
}
.Col-1{
    flex: 1;
}

.Col-2{
    flex: 2;
}

.Col-3{
    flex: 3;
}
.Navigation{
    height: 50px;
    background: rgb(242,17,249);
    background: linear-gradient(0deg, rgba(242,17,249,1) 0%, rgba(45,253,230,1) 100%);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: start;
    margin-bottom: 20px;
}
.Title{
    padding-right: 550px;
}
ul{
    position: fixed;
    right: 10%;
}
li{
    display: inline-block;
    justify-content: space-between;
    margin: 10px;
    font-size: large;
    font-family: cursive;
}
h1{
    color: seashell;
    margin: 125px;
}
#SignOut{
    background: rgb(237,255,8);
    background: radial-gradient(circle, rgba(237,255,8,1) 0%, rgba(7,255,52,1) 100%);
    border-radius: 20px;
    height: 30px;
    border-color: chartreuse;
    display: inline-block;
    font-size: large;
    font-family: cursive;}

.UserCard{
    height: 100%;
    background-color: darkcyan;
}
.Connections{
    height: 100%;
    background-color: darkorchid;
}
.Profile{
    background-color:purple;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
}
.Header{
    height: 100px;
    background-color: aqua;
    display: flex;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Background{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,4,149,1) 43%, rgba(40,218,254,1) 100%);
    border-radius: 100px;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50px;
    right: 10px;
    margin-top: 10px;
}
.Gojo{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 70px;
    margin-top: 30px;
}
.Content{
    /* height: 275px; */
    padding-top: 100px;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: violet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
}
.Name{
    display: inline-flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
.Nav img{
    height: 25px;
    width: 20px;
}
.Setting img{
    height: 20px;
    width: 20px;
}
#EditProfile{
    border-radius: 20px;
    height: 25px;
    
}